.products {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  border-style: solid;
  border-radius: 15px;
  align-items: center;
  width: 300px;
  margin: 5px;
  padding: 10px;
  border-color: #E4E9F3;

}

.containerProducts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

}

.title {
  margin: 15px;
}

.button {
 
  color: black!important;
  border-color: black!important;
  
}

.container-button {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 30px;
  gap: 10px;
}

.App {
  text-align: center;
}


.Carousel {
  padding-left: 41%;
  padding-top: 10%;
}

.one {
  width: 200px !important;
  height: 250px !important;



}



